.wrap {
	max-width: 768px;	
	margin: 0 auto;
	min-height: 100%;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Lato', 'Arial', sans-serif;
}

.header-container {
	height:75px; 
}
.header {
	max-width: 768px;
	padding: 26px 0 26px 29px;
	margin: 0 auto;
}
.header-logo {
	width: 81px;
	height: 23px;
}
.header-logo img {
	max-width: 100%;
}

.main {
	max-width: 768px; 
	margin: 0 auto;	
}
.main-content {
	padding: 0 30px; 
}
.main-banner {
	max-width: 768px;
	min-height: 667px;	
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.main-banner::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 5;
}
.main-banner::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/banner-couriers2.png') -210px 1px / cover no-repeat;
	z-index: 3;
}

.banner-restaurans {	
	position: relative;
	color: #fff;
	z-index: 7;
}

.restaurants-link {
	padding-top: 16px;
}
.link {
	-webkit-appearance:none;	
	color: #fff;
	text-align: left;	
	font-size: 12px;
}

.header-title {
	width: 300px;
	margin-top: 105px;
	padding-right: 20px;
	font-size: 24px;
	line-height: 34.56px;	
}
.header-discription {
	width: 290px;
	margin-top: 16px;
	line-height: 23.04px;
}



.main-buttons {
	width: 180px;
	margin-top: 33px;	
}
.main__Google_play img,
.main__App_Store img{
	width: 159px;
	height: 47.7px;
}
.main__Google_play img {
	margin-bottom: 10px;
}
.title-h2 {	
	line-height: 43.2px;
	font-size: 30px;
	font-weight: 700;
}

.instruct-container{
	margin-bottom: 0px;
	width: 100%;
}

.instruct {
	width: 80%;
	padding-top: 20px;
   margin: 0 auto;	
}

.instruct-items {	
	width: 50%;
	margin: 0 auto;	
}
.instruct__title {
	padding-left: 23px;
}

.item-title {
	width: 100%;
	margin-top: 15px;
	font-size: 18px;
	font-weight: 600;
	line-height: 25.92px;
	text-align: left;
}

.instruct-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.instruct-item img {
	display: block;
	width: 60%;
	padding-left: 50px;	
}
.item-003 img,
.item-005 img {
	width: 50%;
}


.item-discription {
	margin: 16px 0;
	font-size: 16px;
	line-height: 23.04px;
	text-align: left;	
}
.instruct-item:nth-child(even) {
    margin-top: 0;
}


.begin-container {
	max-width: 768px;
	padding-bottom: 40px;
	background: url('../images/fon-112.png') 29px 74px / 95% no-repeat;
}
.begin {
	
	margin: 0 auto;
}
.begin-items {
	position: relative;
	width: 70%;
	margin: 0 auto 0;
	padding-bottom: 0;	
}

.begin-items::before {
	content: "";
   width: 3px;
   height: 525px;
   background-color: #5BC1CF;
   position: absolute;
   top: 24px;
   left: 11px;
   z-index: -4;
}
.begin-item:nth-child(even) {
	margin-left: 0;
}
.begin-item {
	display: block;
	padding: 0;
}
.begin-item .item-discription {
	margin-top: 0;
	padding-left: 40px;
}

.begin__title {
	width: 70%;
	padding: 11px 0 0 29px;
	margin-right: 0;
	font-size: 30px;
	line-height: 43.2px;
}

.num {
	width: 34px;
	height: 34px;
	margin-left: -5px;
   margin-right: 18px;
}

.features-title {
	margin-top: 50px;
}


.banner-work {
	margin-top: 0;
	max-width: 768px;
	min-height: 498px;
	background: none;	
	background-color:  #5BC1CF;
	color: #fff;	
}
.banner-work__title {
	font-size: 30px;	
	line-height: 43.2px;
	margin-bottom: 100px;
	margin-left: -3px;
	margin-top: 0;
}
.banner-work__body {
	position: relative;
	width: 83%;
	margin: 0 auto;
	background: url('../images/Group 122.svg') 81px 117px / 82% no-repeat;
}
.banner-work__grid {
	display: grid;
	grid-template: repeat(2, 281px) / repeat(3, 1fr);
}
.work-item {
	font-size: 14px;
	line-height: 20.16px;
	margin: 0px;
}



.questions-container {
	background-color: #fff;
	width: 100%;
}
.questions {	
	width: 80%;
	margin: 0 auto;	
}

.questions__title {
	padding: 29px 0 0 31px;
}
.block {
	margin-top: 17px;
}
.block__item {
	margin-bottom: 20px;
}
.block__item:nth-child(n+2) {
	margin-top: 34px;
}
.block__item:last-child {
	margin-bottom: 0;
	padding-bottom: 7px;
}
.block__title {	
	padding: 2px 54px 0 31px;
	font-size: 18px;
	line-height: 25.92px;
	position: relative;
}

.block__title::before,
.block__title::after {
	content: "";
	width: 15px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 12px;
	transition: all 0.3s ease 0s;
}
.block__title:before {
	transform: rotate(47deg);
	right: 31px;
}
.block__title:after {
	transform: rotate(-47deg);
	right: 21px;
}
.block__title.active::before,
.block__title.active::after {
	background-color: #5BC1CF;
}
.block__title.active::before {
	transform: rotate(-47deg);
}
.block__title.active::after {
	transform: rotate(47deg);
}

.block__text {
	margin: 17px 0 0 37px;
	width: 90%;
	font-size: 14px;
	line-height: 20.16px;
   padding: 0 2px 0 0;

}


.popular-queries-container,
.specify-container {
	background-color: #FAFAFA;
	width: 100%;
}
.popular-queries {
	width: 80%;
	margin: 0 auto;
}
.specify {
	width: 80%;
	margin: 0 auto;
}
.specify p {
	width: 327px;
	margin-top: 5px;
	font-size: 18px;
	line-height: 25.92px;
	color: #000;
}
.popular-queries__title {
	padding: 31px 0 0 0;
}
.specify__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.56px;
	padding: 12px 0 0 0;
}

.popular-queries__colomns {
	margin-top: 48px;
	padding-bottom: 19px;
}

.specify__colomns {
	margin-top: 27px;
	padding-bottom: 60px;
}
.queries__colomn,
.specify__colomn {
	display: flex;
	
}
.queries__item {
	width: 99%;
	margin-bottom: 15px;
}
.specify__item {
	width: 114px;
	font-size: 16px;
	line-height: 23.04px;
	margin-bottom: 15px;
}
.queries__link {
	font-size: 14px;

	line-height: 20.16px;
	color: #000;
}
.queries__link:hover {
	color: #5BC1CF;
	text-decoration: underline;
}


.delivery {
	width: 90%;
	margin: 0 auto 0;
}
.delivery-title {
	padding-top: 20px;
}

.delivery-title__link {
	font-weight: 700;
	font-size: 30px;
	line-height: 43.2px;
	color: #000;
}
.delivery p {
	width: 100%;
	margin: 9px 0 20px 0;
	font-size: 16px;
	line-height: 23.04px;
	color: #000;
	padding-right: 14px;
}
.delivery  span {
	display: inline;
}
.etc-link,
.letter {
	color: #5bc1cf;
}

@media (max-width: 641px;) {
	.main-banner {
		max-width: 640px;
	}
}
	
@media (max-width: 461px;) {
	.main-banner {
		max-width: 460px;
	}
}

@media (max-width: 376px;) {
	.main-banner {
		max-width: 374px;
	}
}



@media (max-width: 640px) {
   .main-banner::after {
     background: url('../images/banner-couriers4.png') no-repeat;
     width: 100%;
     height: 100%;
     padding: 100px;
   }
    .banner-work__grid {	
		grid-template: repeat(2, 225px) / repeat(3, 1fr);
	}
	.begin-container {
 		padding-bottom: 0px;
 	}
 	.item-0005 {
 		margin: 30px 0 20px 0;
 	}
}

@media (max-width: 570px) {
   .banner-work__grid {	
		grid-template: repeat(2, 239px) / repeat(3, 1fr);
	}
	.banner-work__body {
		width: 95%;
		background: url('../images/Group 122.svg') 74px 124px / 84% no-repeat;
	}	
}

@media (max-width: 485px) {
   .banner-work__grid {	
		grid-template: repeat(2, 209px) / repeat(3, 1fr);
	}
	.banner-work__body {
		width: 90%;
   	background: url('../images/Group 122.svg') 44px 136px / 87% no-repeat;
	}	
	.banner-work__grid {
		width: 87%;
		margin: 0 auto;
	}
	.instruct-item,
	.item-title {	
		width: 90%;		
	}
	.instruct-item img {
		display: block;
		width: 50%;
		padding-left: 50px;	
	}
	.item-003 img,
	.item-005 img {
		width: 40%;
	}
	.instruct {
		width: 100%;
	}
	.instruct-items {
		width: 80%;
	}
	.specify__item {
		width: 24%;
	}
	.item-discription {
		width: 100%;
	}
	.work-item {
	font-size: 12px;
	line-height: 17.28px;	
	}
}

@media (max-width: 467px) {
	.banner-work__body {
   	background: url('../images/Group 122.svg') 44px 177px / 87% no-repeat;
	}
}
@media (max-width: 466px) {
	.begin-items::before {
   	height: 574px;
	}
}
@media (max-width: 454px) {
	.begin-items::before {
   	height: 624px;
	}
	.specify p {
	width: 90%;
	}
	.main-buttons  {
		display: block;
	}
}
@media (max-width: 349px) {
	.begin-items::before {
   	height: 669px;
	}
	.features-title {
		font-size: 16px;
	}
	.begin-item {
		width: 100%;
	}
	.title-h2 {
		font-size: 24px;
	}
	.block-title {
		font-size: 14px;
	}
	.banner-work__body {
    	background: url('../images/Group 122.svg') 34px 204px / 87% no-repeat;
	}
}
@media (max-width: 400px) {
	.banner-work__grid {	
		grid-template: repeat(2, 165px) / repeat(3, 1fr);
	}
}
@media (max-width: 390px) {
	.banner-work__grid {
		width: 97%;
		margin: 0 auto;
	}
}

@media (max-width: 460px) {
    .main-banner::after {
        background: url('../images/banner-couriers5.png') no-repeat;
        width: 100%;
        height: 100%;
        padding: 100px;
    }
}
@media (max-width: 376px) {
    .main-banner::after {
        background: url('../images/banner-couriers3.png') no-repeat;
        width: 100%;
        height: 100%;
        padding: 100px;
    }
}



