/*Обнуление*/
@import url(null.css);

@font-face {
	font-family: 'Lato';
	src: url('../Fonts/LatoBold.eot');
	src: local('☺'), url('../Fonts/LatoBold.woff') format('woff'), url('../Fonts/LatoBold.ttf') format('truetype'), url('../Fonts/LatoBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../Fonts/LatoRegular.eot');
	src: local('☺'), url('../Fonts/LatoRegular.woff') format('woff'), url('../Fonts/LatoRegular.ttf') format('truetype'), url('../Fonts/LatoRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

.wraper {
	width: 100%;
}

.wrap {
	max-width: 1920px;	
	margin: 0 auto;
	min-height: 100%;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Lato', 'Arial', sans-serif;
}

.header-container {
	height: 96px; 
}
.header {
	max-width: 1240px;
	margin: 0 auto;
	padding: 28px 35px;
	display: flex;
	justify-content: space-between;
	
}
.header__logo img {
	width: 141px;
	height: 40px;
}

.button {
	background-color: #5BC1CF;
	border-radius: 30px;
	color: #fff;
}
.header-button {
	width: 178px;
	height: 45px;
	font-size: 16px;
	padding: 11px 66px;
	line-height: 23.04px;
}




.main {
	max-width: 1920px; 
	margin: 0 auto;
	
}
.main-banner {
	width: 100%; 
	margin: 0 auto;
	background: url('../images/banner-restaurans.png') 50% 50% no-repeat;
	background-size: cover;
	min-height: 700px;
}
.main-content {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 35px; 
}



.banner-restaurans {
	max-width: 700px;
	color: #fff;
}
.restaurants-link {
	padding-top: 34px;

}
.link {
	-webkit-appearance:none;	
	color: #fff;
	text-align: left;	
}

.header-title {
	margin-top: 99px;
	font-size: 42px;
	line-height: 60.48px;	
	font-weight: 700;
}
.header-discription {
	margin-top: 11px;
	line-height: 19.92px;
}
.main-button {
	margin-top: 80px;	
	padding: 17px 74px;
	width: 312px;
	height: 69px;
	font-size: 24px;
	line-height: 34.56px;
	display: block;
}

.title-h2 {
	font-weight: 700;
	font-size: 42px;
	color: #1F1F1F;
}
.instruction,
.features{
	max-width: 1544px;
	margin-left: auto;
}
.features{
	position: relative;
	z-index: 2;
	padding: 85px 15px 0;
}
.features-container{
	position: relative;
	overflow: hidden;
}
.features-container:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	width: 717px;
	height: 1244px;
	background: url('../images/circle-r.svg') 0 0 no-repeat;
	transform: translateY(-50%);
}
.instruction{
	margin-top: 0;
	padding: 85px 15px 35px;
	position: relative;
	z-index: 2;
}
.instruction-container{
	position: relative;
	overflow: hidden;
}
.instruction-container:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 755px;
	height: 1244px;
	background: url('../images/circle-l.svg') 0 0 no-repeat;
	z-index: 1;
	transform: translateY(-50%);
}
.instruction-grid {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	grid-template-columns: minmax(auto,740px) minmax(auto,690px);
	margin: 43px 0 0 53px;	
}

.item-title {
	font-size: 30px;
	font-weight: 600;
	line-height: 43.2px;
	color: #000;
}
.item-discription {
	margin-top: 16px;
	padding-right: 57px;
	font-size: 24px;
	color: #1F1F1F;
	line-height: 34.56px;
	margin-bottom: 15px;
}
.item-discription a {
	color: #5BC1CF;
}
.num {
	margin-left: -50px;
   margin-right: 12px;
}

.banner-work {
	/*background: url('../images/banner-blue.png') center / cover no-repeat;*/
	max-width: 1920px;
	height: 700px;
	background: #5BC1CF;
	padding: 0 15px 85px;
}
.banner-work__img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.banner-work__img-mb{
	display: none;
	max-width: 100%;
	margin: 0 auto;
}
.banner-work__title {
	max-width: 1170px;
	margin: 0 auto 50px;
	padding-top: 96px;
	color: #fff;
}

.features-grid {
	max-width: 1230px ;
}

.features__title {
	text-align: left;
	margin: 0 0 50px;
}
.features-grid {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	grid-template-columns: minmax(auto,740px) minmax(auto,690px);
	margin: 43px 0 0 53px;
}

.features-item {
	width: 613px;
	padding-right: 0;
}
.features-title {
	width: 435px;
	margin-right: 0;
}
.item-2 {margin-top: 133px;}
.item-3 {margin-top: -148px;}
.item-4 {margin-top: 4px;}
.item-5 {margin-top: -279px;}
.item-6 {margin-top: -186px;margin-bottom: 50px;}

.questions-container {
	background-color: #FAFAFA;
}
.questions {
	max-width: 1170px;
	margin: 0 auto;
	padding: 45px 15px;
}
.questions__title {
	padding-top: 7px;
}
.block {
	margin-top:67px;
	margin-left: 10px;
}
.block__item {
	margin-bottom: 20px;
}
.block__item:nth-child(n+2) {
	margin-top: 34px;
}
.block__item:last-child {
	margin-bottom: 55px;
}
.block__title {
	position: relative;	
	padding-left: 30px;
	cursor: pointer;
	font-size: 36px;
	line-height: 51.84px;
	color: #1F1F1F;
}

.block__title::before,
.block__title::after {
	content: "";
	width: 30px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 21px;
	transition: all 0.3s ease 0s;
}
.block__title:before {
	transform: rotate(40deg);
	right: -55px;
}
.block__title:after {
	transform: rotate(-40deg);
	right: -79px;
}
.block__title.active::before,
.block__title.active::after {
	background-color: #5BC1CF;
}
.block__title.active::before {
	transform: rotate(-40deg);
}
.block__title.active::after {
	transform: rotate(40deg);
}
.block__text {
	display: none;
	margin-top: 26px;
   padding: 0 28px;
   max-width: 1230px;
	font-size: 24px;
	line-height: 34.56px;
}
.footer-container {
	background-color: #fff;
}
.footer {
	max-width: 1920px;
	display: block;
	margin: 0 auto;
	color: #C5C5C4;
	font-size: 24px;
	text-align: center;
	line-height: 34.56px;
	padding: 23px 0 27px 0;
}
span {
	display: block;
}
.footer a {
	color: #C5C5C4;
	font-size: 24px;
}
@media (max-width:991px) {
	.main-banner{
		min-height: 678px;
		background: url(../images/t-banner-restaurans.png) 0 0 / cover no-repeat;
	}
	.header-discription{
		max-width: 343px;
		font-size: 16px;
		line-height: 1.2;
	}
	.instruction-grid,
	.features-grid{
		display: flex;
		flex-wrap: wrap;
	}
	.instruction-item{
		width: 50%;
		margin-top: 0;
	}
	.features-title{
		width: auto;
		padding: 0 50px 0 0;
	}
	.block__title{
		font-size: 26px;
		line-height: 1.2;
		padding: 0 55px 0 0;
	}
	.block{
		margin-top: 45px;
		margin-left: 0;
	}
	.block__title:before{
		right: 23px;
	}
	.block__title:after{
		right: 0;
	}
}
@media (max-width:767px) {
	.main-banner{
		background: rgba(31, 31, 31, 0.93);
		min-height: auto;
		padding: 0 0 165px;
	}
	.header-title{
		margin-top: 65px;
		font-size: 30px;
		line-height: 1.6;
	}
	.instruction-container:after,
	.features-container:after{
		display: none;
	}
	.instruction{
		padding: 35px 15px 35px;
	}
	.title-h2{
		font-size: 30px;
	}
	.item-title{
		font-size: 18px;
		line-height: 1.2;
	}
	.item-title .num{
		margin: 0;
		width: 34px;
		height: 34px;
		position: absolute;
		top: -7px;
		left: 0;
		z-index: 2;
	}
	.item-discription{
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4;
		padding: 0;
	}
	.instruction-item{
		width: 100%;
		position: relative;
		padding:0 0 0 50px;
	}
	.instruction-item:after{
		content: "";
		position: absolute;
		top: 0;
		left: 16px;
		width: 3px;
		bottom: 0;
		background: #5BC1CF;
		z-index: 1;
	}
	.instruction-item:last-child:after{
		display: none;
	}
	.instruction-grid, .features-grid{
		margin: 40px 0 0 0;
	}
	.banner-work__img{
		display: none;
	}
	.banner-work__img-mb{
		display: block;
	}
	.banner-work{
		height: auto;
	}
	.banner-work__title{
		padding-top: 30px;
	}
	.features{
		padding: 35px 15px 0;
	}
	.block__title{
		font-size: 18px;
		padding: 0 30px 0 0;
	}
	.block__text{
		font-size: 16px;
		line-height: 1.4;
		padding: 0 30px 0 0;
	}
	.block__title::before, .block__title::after{
		width: 10px;
		top: 10px;
	}
	.block__title:before{
		right: 8px;
	}
	.block__item:last-child{
		margin-bottom: 5px;
	}
	.block__item:nth-child(n+2){
		margin-top: 25px;
	}
	.footer{
		padding: 20px 15px;
		font-size: 16px;
		line-height: 1.4;
	}
	.footer a{
		font-size: 16px;
	}
	.header-button{
		padding: 10px;
		width: 120px;
		text-align: center;
	}
	.header{
		padding: 25px 15px;
	}
}
