.back-wrap{
    padding: 35px 0 0 0;
}
.back-wrap__link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #5BC1CF;
    font-size: 16px;
    line-height: 1;
    padding: 2px 0 0 20px;
}
.back-wrap__link:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 17px;
    background: url('../images/back-icon.svg') 0 0 no-repeat;
    background-size: cover;
    z-index: 1;
}
.restaurant-page{
    position: relative;
    padding: 45px 0 0 0;
    min-height: 600px;
}
.restaurant-wrap{
    margin: 0 395px 0 0;
    position: relative;
    z-index: 2;
}
.restaurant-order{
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 1;
}
.restaurant-order.fixed{
    position: fixed;
    top: 10px;
    left: 0;
    max-width: 1170px;
    width: 98%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: right;
}
.restaurant-order.no-fixed{
    bottom: 15px;
    top: inherit;
}
.restaurant-card{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(112, 112, 112, 0.1);
    border-radius: 10px;
    margin: 0 0 20px;
    padding: 10px 15px;
    color: #4F4F4F;
}
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
}
.breadcrumb__link{
    color: #5BC1CF;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.3;
}
.breadcrumb__link:hover{
    color: #5BC1CF;
    text-decoration: none;
}
.breadcrumb__link:before{
    content: "/";
    margin: 0 3px;
}
.breadcrumb__link:first-child:before{
    display: none;
}
.restaurant-card .breadcrumb{
    margin: 0 0 20px;
    padding: 0 5px;
}
.restaurant-card__row{
    overflow: hidden;
    margin: 0 -10px;
    padding: 0 15px;
}
.restaurant-card__col{
    width: 50%;
    padding: 0 10px;
    float: left;
}
.restaurant-card__title{
    font-size: 42px;
    line-height: 1.4;
    margin: 0 0 20px;
    font-weight: 700;
}
.restaurant-card__adress{
    position: relative;
    padding: 0 0 0 25px;
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 1.4;
}
.restaurant-card__adress:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 24px;
    background: url('../images/icon/point.svg') 0 0 no-repeat;
    background-size: cover;
    z-index: 1;
}
.restaurant-card__slider{
    padding-top: 15px;
}
.restaurant-card__img{
    border-radius: 10px;
    overflow: hidden;
    height: 180px;
    position: relative;
}
.restaurant-card__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.restaurant-card__caption{
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 12px;
}
.restaurant-card__work{
    font-size: 16px;
    line-height: 1.4;
    position: relative;
    padding: 2px 0 0 30px;
}
.restaurant-card__work:after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 25px;
    height: 25px;
    background: url('../images/icon/clock.svg') 0 0 no-repeat;
    background-size: cover;
    z-index: 1;
}
.restaurant-card__work span{
    font-size: 18px;
    color: #31BCCC;
}
.restaurant-card__line{
    height: 3px;
    background: #E3E3E3;
    border-radius: 100px;
    margin: 45px 0 35px;
}
.restaurant-card__description{
    padding: 0 15px 25px;
    font-size: 16px;
    line-height: 21px;
    color: #4F4F4F;
}
.restaurant-card__more-link{
    color: #31BCCC;
    text-decoration: none;
}
.restaurant-card__text-more{
    color: rgba(79, 79, 79, 0.07);
    transition: color ease .5s;
}
.restaurant-card__description.visible 
.restaurant-card__text-more{
    color: #4F4F4F;
}
.catalog-products{
    display: flex;
    flex-wrap: wrap;
    padding:38px 47px 45px;
}
.catalog-products__item{
    width: 50%;
    padding: 0 13px;
    display: flex;
}
.card-product{
    width: 100%;
    border-radius: 10px;
    position: relative;
    margin: 0 0 40px;
}
.card-product:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    transition: all ease .5s;
}
.card-product--add:after{
    background: rgba(91, 193, 207, 0.2);
    bottom: -20px;
    z-index: 2;
}
.card-product__content{
    padding: 15px;
    position: relative;
    z-index: 3;
    font-size: 14px;
    line-height: 1.2;
    color: #4F4F4F;
}
.card-product__img{
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto 15px;
    position: relative;
    width: 145px;
    height: 145px;
}
.card-product__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-product__title{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
    margin: 0 0 10px;
    position: relative;
}
.card-product__count{
    font-size: 16px;
    color: rgba(79, 79, 79, 0.5);
}
.card-product__in-count{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    font-size: 10px;
    line-height: 1;
    color: #5BC1CF;
    text-align: center;
}
.card-product__title .card-product__in-count{
    position: absolute;
    top: -15px;
    left: 12px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all ease .5s;
}
.card-product__text{
    font-weight: 700;
    margin: 0 0 10px;
}
.card-product__detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-product__price{
    font-weight: 700;
}
.card-product__add,
.card-product__remove{
    display: block;
    width: 23px;
    height: 23px;
    min-width: 23px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background: rgba(49, 188, 204, 0.07);
    position: relative;
}
.card-product__add:after,
.card-product__add:before,
.card-product__remove:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #5BC1CF;
}
.card-product__add:after,
.card-product__remove:after{
    width: 14px;
    height: 3px;
    z-index: 1; 
}
.card-product__add:before{
    width: 3px;
    height: 14px;
    z-index: 2;
}
.card-product__add--wh,
.card-product__remove--wh{
    background-color: #fff;
}
.card-product__add--lg,
.card-product__remove--lg{
    width: 28px;
    height: 28px;
}
.card-product__add--lg:after,
.card-product__remove--lg:after{
    width: 18px;
    height: 3px;
    z-index: 1; 
}
.card-product__add--lg:before{
    width: 3px;
    height: 18px;
    z-index: 2;
}
.card-product__detail .card-product__add{
    transition: all ease .5s;
    opacity: 1;
    visibility: visible;
}
.card-product--add .card-product__detail .card-product__add{
    opacity: 0;
    visibility: hidden;
}
.card-product__hover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -12px;
    z-index: 5;
    left: 15px;
    right: 15px;
    transition: all ease .3s;
    opacity: 0;
    visibility: hidden
}
.card-product--add .card-product__hover{
    opacity: 1;
    visibility: visible;
    transition: all ease .5s;
}
.card-product--add .card-product__title .card-product__in-count{
    opacity: 1;
    visibility: visible;
}
.restaurant-card-order{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 15px 15px;
    min-width: 365px;
    width: 365px;
    position: relative;
    z-index: 30;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.restaurant-card-order__title{
    font-size: 42px;
    line-height: 1.2;
    margin: 0 0 15px;
    color: #4F4F4F;
    font-weight: 700;
}
.order-link{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;
}
.order-link__item{
    width: 50%;
    padding: 0 3px 6px;
}
.order-link__card{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 43px;
    background: rgba(91, 193, 207, 0.05);
    border-radius: 100px;
    font-size: 14px;
    line-height: 1;
    color: #5BC1CF;
    text-decoration: none;
    transition: all ease .5s;
    padding: 0 5px;
}
.order-link__card:hover{
    background: rgba(91, 193, 207, 0.12);
}
.order-link__img{
    margin: 0 5px 0 0;
}
.order-link__img img{
    display: block;
}
.order-link__name{
    display: block;
    position: relative;
    top: 1px;
}
.order-link__card--clock .order-link__img img{
    width: 25px;
    min-width: 25px;
}
.order-link__card--like .order-link__img img{
    width: 25px;
    min-height: 25px;
}
.order-link__card--cash .order-link__img img{
    width: 29px;
    min-height: 29px;
}
.order-link__card--courier .order-link__img img{
    width: 15px;
    min-height: 15px;
}
.restaurant-card-order__gift{
    margin: 0 0 10px;
}
.gift-b__link{
    display: flex;
    align-items: center;
}
.gift-b__img{
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: #53BD48;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5px 0 0;
}
.gift-b__img img{
    display: block;
    max-width: 24px;
    width: 24px;
}
.gift-b__name{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    padding: 0 15px;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    height: 26px;
    background: #53BD48;
}
.restaurant-card-order__products{
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 0 5px;
}
.products-order__item{
    margin: 0 0 10px;
}
.products-order__heading{
    display: flex;
    align-items: center;
    color: #4F4F4F;
    font-size: 16px;
    margin: 0 0 5px;
}
.products-order__in-count{
    font-size: 18px;
    line-height: 1.2;
    white-space: nowrap;
    margin: 0 5px 0 0;
}
.products-order__caption{
    flex-grow: 1;
}
.products-order__caption{
    line-height: 1;
    display: flex;
    align-items: center;
}
.products-order__name{
    font-size: 20px;
    margin: 0 5px 0 0;
}
.products-order__count{
    color: rgba(79, 79, 79, 0.5);
}
.products-order__price{
    white-space: nowrap;
    padding: 0 0 0 5px;
}
.products-order__btn{
    display: flex;
    justify-content: space-between;
}
.products-order__btn-item{
    display: flex;
    align-items: center;
}
.card-product__edit{
    font-size: 14px;
    line-height: 1;
    color: #5BC1CF;
}
.products-order__btn-item .card-product__edit{
    margin: 0 0 0 5px;
}
.restaurant-card-order__price-info{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.2;
    color: #4F4F4F;
    align-items: flex-end;
    padding: 5px 0 0 0;
    font-weight: 700;
}
.restaurant-card-order__submit{
    display: flex;
    background: #5BC1CF;
    border-radius: 100px;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    transition: all ease .5s;
}
.restaurant-card-order__submit:hover{
    background: #43a9b7;
}
.restaurant-card-order__submit-wrap{
    padding: 10px 0 0 0;
}
.slider-restaurant{
    position: relative;
}
.slider-restaurant .slick-dots{
    position: absolute;
    bottom: 15px;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 2px;
}
.slider-restaurant .slick-dots li{
    margin: 0 3px;
}
.slider-restaurant .slick-dots li button{
    width: 20px;
    height: 2px;
    border: none;
    overflow: hidden;
    text-indent: 100%;
    background-color: #E3E3E3;
    cursor: pointer;
    transition: all ease .5s;
}
.slider-restaurant .slick-dots li.slick-active button{
    background-color: #31BCCC;
}
.info-link{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('../images/info-icon.svg') 0 0 no-repeat;
    background-size: cover;
    margin: 0 10px 0 5px;
    position: relative;
    top: 2px;
}
.info-link--wh{
    background: url('../images/info-icon-wh.svg') 0 0 no-repeat;
    background-size: cover;
}
.hidden{
    display: none;
}
/*------modal------*/
.modal-wrap{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    padding: 0;
    width: 100%;
    display: none;
    font-family: 'Lato', 'Arial', sans-serif;
}
.modal-wrap--sm{
    max-width: 300px;
}
.modal-wrap--order{
    max-width: 430px;
    padding: 45px 35px 15px;
}
.modal-wrap--detail{
    max-width: 430px;
    padding: 35px 15px 45px;
}
.modal-wrap__info-wrap{
    min-height: 186px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 1.4;
}
.modal-wrap__caption{
    margin: 0 0 15px;
    font-size: 18px;
}
.modal-wrap__caption-lg{
    font-size: 24px;
}
.modal-wrap__close-bottom{
    font-size: 16px;
    line-height: 1;
    border: none;
    border-top: 1px solid #E3E3E3;
    padding: 10px 5px;
    width: 100%;
    background: transparent;
    text-align: center;
    color: #5BC1CF;
    transition: all ease .5s;
    cursor: pointer;
}
.modal-wrap__close-bottom:hover{
    color: #fff;
    background-color: #5BC1CF;
}
.modal-product{
    color: #4f4f4f;
}
.modal-product__title{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px;
}
.modal-product__in-count{
    font-size: 16px;
    color: rgba(79, 79, 79, 0.5);
}
.modal-wrap--close .fancybox-close-small{
    padding: 0;
    width: 30px;
    height: 30px;
    opacity: 1;
    top: 5px;
    right: initial;
    left: 5px;
}
.modal-wrap--close 
.fancybox-button svg path{
    fill:#5BC1CF;
}
.modal-product__center{
    display: flex;
    align-items: flex-start;
    margin: 0 0 15px;
}
.modal-product__img{
    position: relative;
    min-width: 145px;
    width: 145px;
    height: 145px;
    border-radius: 10px;
    overflow: hidden;
}
.modal-product__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-product__content{
    flex-grow: 1;
    width: 100%;
    padding: 0 0 0 25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.modal-product__content span{
    color: #5BC1CF;
}
.modal-product__composition{
    margin: 0 0 10px;
}
.modal-product__caption{
    font-weight: 700;
    margin: 0 0 5px;
}
.modal-product__item{
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 5px 0 0 0;
}
.modal-product__name{
    flex-grow: 1;
    padding: 0 5px 0 0;
}
.modal-product__price-add{
    white-space: nowrap;
}
.modal-product__scroll{
    margin: 0 0 25px;
}
.modal-product__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #5BC1CF;
    border-radius: 100px;
    height: 42px;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    transition: all ease .5s;
    text-decoration: none;
    border: none;
}
.modal-product__btn:hover{
    background: #43a9b7;
}
.modal-product__item
.counter{
    margin: 0 0 0 8px;
}
.counter{
    width: 51px;
    min-width: 51px;
    position: relative;
    padding: 0 16px;
}
.counter__input{
    width: 100%;
    font-size: 12px;
    line-height: 1;
    color: #5BC1CF;
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: #fff;
    text-align: center;
    border: none;
    padding: 0;
    font-weight: 700;
}
.counter__minus,
.counter__plus{
    display: block;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background: rgba(49, 188, 204, 0.07);
    position: absolute;
    top: 0;
    z-index: 5;
}
.counter__minus{
    left: 0;
}
.counter__plus{
    right: 0;
}
.counter__plus:after,
.counter__plus:before,
.counter__minus:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #5BC1CF;
}
.counter__plus:after,
.counter__minus:after{
    width: 8px;
    height: 2px;
    z-index: 1; 
}
.counter__plus:before{
    width: 2px;
    height: 8px;
    z-index: 2;
}
.modal-time{
    padding: 40px 25px 25px;
}
.modal-time__title{
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 15px;
    color: #4F4F4F;
    font-weight: 700;
}
.tabs{
    display: flex;
    list-style-type: none;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 0 15px;
}
.tabs li{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #4F4F4F;
    height: 45px;
    background: #F8F8F8;
    cursor: pointer;
}
.tabs li.current{
    background: #8CD4DD;
}
.box-tabs{
    display: none;
}
.box-tabs.visib{
    display: block;
}
.time-wrap{
    text-align: center;
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.time-wrap__caption{
    margin: 0 0 15px;
}
.time-wrap__item{
    margin: 5px 0 0 0;
    cursor: pointer;
    transition: all ease .5s;
}
.time-wrap__item:hover{
    color: #5BC1CF;
}
.modal-restaurant{
    color: #4f4f4f;
}
.modal-restaurant__title{
    text-align: center;
    margin: 0 0 25px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
}
.modal-restaurant 
.restaurant-card__caption{
    margin: 0 0 10px;
    font-size: 20px;
}
.modal-restaurant .restaurant-card__adress{
    font-size: 16px;
}
.modal-restaurant .restaurant-card__work{
    font-size: 16px;
}
.modal-restaurant .restaurant-card__work span{
    font-size: 14px;
}
.modal-restaurant 
.restaurant-card__line,
.modal-restaurant 
.restaurant-card__description{
    display: block;
}
.modal-restaurant 
.restaurant-card__line{
    margin: 20px 0;
}
.modal-restaurant 
.restaurant-card__description{
    padding: 0;
    font-size: 14px;
}
.modal-product__img-mb{
    display: none;
}
/*------/modal------*/


/*----tablet-b----*/
.tablet-b .order-link{
    margin: 0 -7px;
}
.tablet-b .order-link__item{
    padding: 14px 7px 0;
}
.tablet-b .order-link__item:first-child,
.tablet-b .order-link__item:nth-child(2){
    padding: 0 7px;
}
.catalog-products__item-btn{
    width: 100%;
    padding: 0 13px;
}
.catalog-products__item-btn 
.restaurant-card-order__submit{
    height: 50px;
    font-size: 18px;
}
/*----/tablet-b----*/
/*------mobile------*/
.restaurant_m-wrap{
    min-height: 180px;
    position: relative;
    display: none;
}
.restaurant_m-wrap__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.restaurant_m-wrap:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.15);
}
.restaurant_m-wrap__content{
    position: relative;
    z-index: 3;
    padding: 15px;
}
.restaurant_m-wrap .breadcrumb{
    padding: 0 10px;
    margin: 0 0 15px;
}
.restaurant_m-wrap .breadcrumb__link{
    color: #fff;
}
.restaurant_m-wrap__title{
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    margin: 0 0 25px;
    display: flex;
    align-items: center;
}
.restaurant_m-wrap__title .info-link{
    width: 18px;
    height: 18px;
    top: 0;
}
.carousel-restaurant .order-link__card{
    background-color: #fff;
    height: 40px;
    padding: 0 15px;
}
.carousel-restaurant .slide{
    margin: 0 10px 0 0;
}
.card-product__count_m{
    display: none;
    margin: 0 0 0 5px;
    font-size: 14px;
    line-height: 1;
    color: #000;
    position: relative;
    top: 1px;
}
/*------/mobile------*/



@media (min-width:992px){
    .breadcrumb--tablet,
    .tablet-b, .info-link,
    .catalog-products__item-btn{ display: none;}
}
@media (max-width:991px){
    .restaurant-card .breadcrumb,
    .restaurant-card__content, 
    .restaurant-card__line,
    .restaurant-card__description{ display: none;}
    .back-wrap{padding: 10px 25px 15px;}
    .restaurant-page{
        padding: 0;
        min-height: inherit;
    }
    .breadcrumb--tablet{
        padding: 35px 25px 10px;
    }
    .restaurant-order{
        display: none;
    }
    .restaurant-wrap{
        margin: 0;
    }
    .restaurant-card__row{
        padding: 0;
    }
    .restaurant-card{
        padding: 25px 35px;
    }
    .restaurant-card__slider{
        padding: 5px 0;
    }
    .restaurant-card__col{
        width: 40%;
    }
    .restaurant-card__col:first-child{
        width: 60%;
    }
    .restaurant-card__title{
        display: flex;
        align-items: center;
    }
}
@media (max-width:767px){
    .restaurant_m-wrap .back-wrap{
        display: block;
        padding: 0;
        margin: 0 0 20px;
    }
    .restaurant_m-wrap .back-wrap__link{
        color: #fff;
        font-size: 14px;
        padding: 1px 0 0 15px;
    }
    .restaurant_m-wrap .back-wrap__link:after{
        width: 8px;
        height: 14px;
        background: url('../images/back-icon-wh.svg') 0 0 no-repeat;
        background-size: cover;
    }
    .breadcrumb--tablet, .restaurant-card, .back-wrap{
        display: none;
    }
    .restaurant_m-wrap{
        display: block;
    }
}
@media (max-width:576px){
    .catalog-products{
        padding: 0 5px;
    }
    .catalog-products__item{
        padding: 0 5px;
    }
    .card-product{
        margin: 0 0 20px;
    }
    .card-product__img{
        width: 100%;
        padding: 72% 0 0 0;
        height: auto;
    }
    .card-product__content{
        padding: 0 0 15px;
    }
    .card-product__title{
        padding: 0 10px;
        text-align: center;
        font-size: 18px;
    }
    .card-product__title .card-product__in-count,
    .card-product__text{
        display: none;
    }
    .card-product__count{
        display: block;
        padding: 8px 0 0 0;
    }
    .card-product__detail{
        padding: 0 10px;
    }
    .card-product__col{
        display: flex;
        align-items: center;
    }
    .card-product__count_m{
        display: block;
    }
    .card-product__hover{
        left: 10px;
        right: 10px;
    }
    .catalog-products__item-btn 
    .restaurant-card-order__submit{
        font-size: 16px;
    }
    .modal-restaurant__title{
        text-align: left;
        margin: 0 0 10px;
        font-size: 30px;
    }
    .modal-restaurant .restaurant-card__caption,
    .modal-restaurant .restaurant-card__line{
        display: none;
    }
    .modal-restaurant .restaurant-card__adress{
        margin: 0 0 12px;
    }
    .modal-restaurant .restaurant-card__work{
        margin: 0 0 15px;
    }
    .modal-wrap--close .fancybox-close-small{
        left: initial;
        right: 5px;
    }
    .modal-wrap--detail{
        max-width: 330px;
    }
    .modal-wrap--order{
        max-width: 330px;
        padding: 0 15px 20px;
    }
    .fancybox-slide{
        display:block;
        transition: all ease .5s;
        transform: translateY(100%);
    }
    .fancybox-slide.fancybox-slide--current{
        transform: translateY(0);
    }
    .modal-product__img{
        display: none;
    }
    .modal-product__img-mb{
        display: block;
        width: auto;
        height: auto;
        padding: 82% 0 0 0;
        margin: 0 -15px 15px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    .modal-product__img-mb img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .modal-product__content{
        padding: 0;
        display: flex;
        align-items: center;
    }
    .modal-product__composition{
        margin: 0;
        flex-grow: 1;
    }
    .modal-product__price{
        white-space: nowrap;
        padding: 0 0 0 10px;
    }
    .modal-wrap--order .fancybox-close-small{
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
    }
    .catalog-products__item-btn{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 80;
        padding: 0;
    }
    .catalog-products__item-btn .restaurant-card-order__submit{
        border-radius: 0;
    }
}