/*Обнуление*/
@import url(null.css);

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

@font-face {
	font-family: 'Lato';
	src: url('../Fonts/LatoBold.eot');
	src: local('☺'), url('../Fonts/LatoBold.woff') format('woff'), url('../Fonts/LatoBold.ttf') format('truetype'), url('../Fonts/LatoBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../Fonts/LatoRegular.eot');
	src: local('☺'), url('../Fonts/LatoRegular.woff') format('woff'), url('../Fonts/LatoRegular.ttf') format('truetype'), url('../Fonts/LatoRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
html {overflow-x: hidden;}
.wraper {
	width: 100%;	
	height: 100%;	
	margin: 0 auto;
}
.wrap {	
	width: 100%;
	font-family: 'Lato', 'Arial', sans-serif;
}
.content {
	box-shadow: 5px 5px 30px rgba(112, 112, 112, 0.1);
}
.header {
	width: 98%;
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;	
	padding: 27px 0 29px 0;	
}
.header-grid {
	width: 100%;
	padding: 0 10px;
	display: grid;	
	grid-template: 1fr / fit-content(141px) 1fr minmax(auto, 453px) minmax(auto, 50px) minmax(auto, 210px) minmax(auto, 87px);
	align-items: center;
}
.header-flex {
	display: none;
}
.menu-burger,
.header__menu,
.header-scroll,
.header__menu {
	display: none;
}
.header__logo {
	border-radius: 30px;
}
.header__logo img {
	width: 141px;
	height: 40px;
}



/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 18px;
  margin-top: 6px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 13px;
  left: 127px;
  width: 12px;
  height: 14px;
  background: url('../images/icon/v.svg') 0 0 no-repeat;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {  
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #5BC1CF;
  padding: 8px 7px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*the container must be positioned relative:    end*/



.header__search-adress {
	max-width: 432px;	
	min-width: 277px;
	margin: -4px 5px;
	border-radius: 30px;
	border: 1px solid #5BC1CF;	
	transition: all 0.8s ease 0s;
}
.search-adress {
	width: 100%;
	padding: 16px 17px 10px 32px;
	background: url('../images/icon/point.svg') 16px center / 14px 18px no-repeat;
}


.search-adress::-webkit-input-placeholder {color:#5BC1CF; font-size: 18px; padding-left: 1px; line-height: 28px;}
.search-adress::-moz-placeholder          {color:#5BC1CF; font-size: 18px; padding-left: 1px; line-height: 28px;}/* Firefox 19+ */
.search-adress:-moz-placeholder           {color:#5BC1CF; font-size: 18px; padding-left: 1px; line-height: 28px;}/* Firefox 18- */
.search-adress:-ms-input-placeholder      {color:#5BC1CF; font-size: 18px; padding-left: 1px; line-height: 28px;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.header__clock {	
	margin: -6px auto 0;
	align-items: center;
	width: 26.58px;
	height: 26.58px;	
	border-radius: 30px;
	transition: all 0.8s ease 0s;
}
.header__items {
	display: flex;	
	margin: 0 auto;
}
.menu__item {	
	padding-right: 9px;
	border-radius: 30px;
	transition: all 0.8s ease 0s;
}
.menu__item:last-child {
	padding-right: 0;
}
.menu__item a {
	font-size: 18px;
	color: #5BC1CF;
}


.header__user {
	display: flex;
	margin: 0 auto;	
	background-repeat: no-repeat;	
}
.item-user {
	background: url('../images/icon/persona.svg') 0 0 / contain no-repeat;
	width: 35px;
	height: 35px;
	margin-right: 5px;
	border-radius: 30px;
	transition: all 0.8s ease 0s;
}
.item-basket {
	background: url('../images/icon/basket.svg') 0 0 / contain no-repeat;
	width: 30.09px;
	height: 25.5px;
	align-self: center;
	border-radius: 30px;
	transition: all 0.8s ease 0s;
}
.header__logo:hover,
.menu__item:hover,
.header__search-adress:hover {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); 
	position: relative;
	top: 2px;
	transform: scale(1.1);
	transition: transform .4s;
}
.item-user:hover,
.item-basket:hover,
.header__clock:hover {
	transform: scale(2.2);
	transition: transform .4s;
}
.menu__item:hover {
	padding: 10px;
}

.num-basket {
	font-family: 'Roboto';
	font-size: 19.51px;
	color: #F34D65;
	margin-top: -6px;
}

.user-text {
	position: absolute;
	opacity: 0;
	width: 30px;
	height: 25px;
}
.delivery-address {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
}






.main {
	width: 98%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	
}
.contain {
	width: 100%;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.banner {
	width: 100%;
	margin: 66px auto 0;
	border-radius: 10px;
	background-image: url('../images/zavtrak-iagody-kofe-dzhem-sok 1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 2;
	padding-bottom: 1px;
}
.banner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.15);
	border-radius: 10px;
	z-index: 3;
}
.head__search-adress.second-adress {
	display: none;
}
.banner__category {
	display: flex; 
	padding: 19px 71px 0;
}
.banner__category a {
	font-weight: 700;
	font-size: 18px;
	color: #1F1F1F;
}
.main-title {
	width: 39%;
	margin: 49px 645px 104px 71px;
	font-size: 42px;
	font-weight: 700;
	line-height: 60.48px; 
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.main-title._active {
	transform: translate(0px, 0px);
	opacity: 1;
}

.category__boosik {
	margin-right: 13px;
	position: relative;

}
.category__boosik:last child {
	margin-right: 0;
}
.category__boosik::after {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 6px;
   left: 57px;
	background-image: url('../images/icon/point-black.svg');
	background-repeat: no-repeat;
	background-position: center ;	
}

.search-container{
	width: 100%;	
	margin: 20px auto 0;
}

.search {
	width: 100%;
	padding: 10px 43px 8px;
	background: url('../images/icon/search-glass.svg') 17px 6px / 20px 20px no-repeat;
	border-radius: 30px;
	border: 1px solid rgba(197,197,196,0.5);
}
.search img {
	width: 20px;
	height: 20px;
}
.search::-webkit-input-placeholder {color:#E3E3E3; font-size: 16px; padding-left: 43pxpx; line-height: 21.12px;}
.search::-moz-placeholder          {color:#E3E3E3; font-size: 16px; padding-left: 43pxpx; line-height: 21.12px;}/* Firefox 19+ */
.search:-moz-placeholder           {color:#E3E3E3; font-size: 16px; padding-left: 43pxpx; line-height: 21.12px;}/* Firefox 18- */
.search:-ms-input-placeholder      {color:#E3E3E3; font-size: 16px; padding-left: 43pxpx; line-height: 21.12px;}


.slider-container {
	width: 98%;
	max-width: 1170px;
	height: 353px;
	background-color: rgba(49,188,204,0.2);
	border-radius: 10px;
	margin: 18px auto 0;
	padding: 0 41px;
}

.slider {
	position: relative;
	min-width: 0;
	padding: 0 69px;
	margin-top: 12px;		
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;

}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


.slider .slick-arrow {
	position: absolute;
	top: 40%; 
	z-index: 10;
	font-size: 0;
}
.slider .slick-arrow::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 40px;
	height: 40px;	
	border-radius: 50%;
	padding: 8px 12px;
	z-index: 8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.slider .slick-arrow.slick-prev {
	left: 0;	
}
.slider .slick-arrow.slick-prev::before {
	background: #fff url('../images/icon/arrow-prev.svg') center / 16px 24px no-repeat;
}
.slider .slick-arrow.slick-next {
	right: 24px;
}
.slider .slick-arrow.slick-next::before {
	background: #fff url('../images/icon/arrow-next.svg') center / 16px 24px no-repeat;
}

.slider__title {
	font-weight: 700;
	font-size: 24px;
	color: #1F1F1F;
	padding-top: 27px;
	padding-left: 30px;
}
.slider__item {
	width: 298px;
	min-height: 243px;	
	padding-left: 0;
	margin-right: 39px;
	margin-right: 15px;
}

.slider-images img {
	width: 298px;
	height: 150px;
	
}
.slider-card {
	background-color: #fff;
	width: 298px;
	position: relative;
	z-index: -1;	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.card-title {
	font-weight: 700;
	font-size: 20px;
	color: #4F4F4F;
	line-height: 28.8px;
	padding: 0 9px;
	
}
address {
	line-height: 20.16px;
	font-style: normal;
	padding: 0 9px;
}
.addres-span {
	color: #5BC1CF;
	padding-right: 4px;
}
.card-icons {
	display: flex;
}
.card-like {
	font-size: 9px;
	color: #5BC1CF;
	padding: 8px 10px 6px 9px;
	margin: 0 0 8px 8px;
	width: 99px;
}
.numb-like {
	position: relative;
	top: 8px;
	left: 3px;
}
.card-discount {
	width: 30px;
	height: 30px;
	background-color: #53BD48;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	line-height: 32px;
	font-weight: 700;
	text-align: center;
	position: relative;
	top: 6px;
	left: 11px;
}
.card-price {
	width: 87px;
	height: 20px;
	background-color: #53BD48;
	border-radius: 30px;
	color: #fff;
	font-size: 8px;
	line-height: 23px;
	font-weight: 700;
	text-align: center;
	position: relative;
	top: 11.5px;
	left: 14px;
}
.info {
	position: absolute;
	right: 13px;
	top: 9px;
	z-index: 4;
}
.distance {
	position: absolute;
	right: 4px;
	top: 158px;
	z-index: 4;
	color: #5BC1CF;
}

.category-container {
	position: absolute;
	width: 98%;
	max-width: 1170px;
	display: block;
	margin: 28px 0 0 0;
	padding: 0;
	background-color: #fff;
	position: relative;  
}

.category {
	max-width: 755px;
   position: relative;
   min-width: 0;
   padding: 0 69px;
   margin-top: 12px;		
}

.category .slider-cathegory__item {	
	padding: 13px 17px;
	background-color: rgba(227,227,227,0.5);	
	border-radius: 100px;
	font-size: 16px;
	color: #1F1F1F;	
	text-align: center;
	margin-left: 10px;
}
.category .slider-cathegory__item.slick-current{
	background: rgba(91, 193, 207, 0.5);
}
.category .slick-arrow {
	position: absolute;
	top: -10%; 
	z-index: 10;
	font-size: 0;
}
.category .slick-arrow::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 58px;
	height: 58px;	
	border-radius: 50%;
	padding: 8px 12px;
	z-index: 8;
}

.category .slick-arrow.slick-prev {
	left: 0;	
}
.category .slick-arrow.slick-prev::before {
	background: rgba(227, 227, 227, 0.5) url('../images/icon/arrow-black-prev.svg') center / 16px 24px no-repeat;
}
.category .slick-arrow.slick-next {
	right: 57px;
}
.category .slick-arrow.slick-next::before {
	background: rgba(227, 227, 227, 0.5) url('../images/icon/arrow-black-next.svg') center / 16px 24px no-repeat;
}


.happy-clock {
	width: 98%;
	max-width: 1170px;
	height: 353px;
	background-color: rgba(49,188,204,0.2);
	border-radius: 10px;
	margin: 29px auto 0;
	padding: 0 41px;
}
.slider-top {
	margin-top: 21px;
}
.slider-top .slick-arrow {
	top: 37%; 
}


.restorans-container {
	margin: 34px auto 0;
	width: 98%;
	max-width: 1170px;
}

.restorans-title {
	font-size: 42px;
	font-weight: 700;
	color: #1F1F1F;
	text-align: left;
}
	.restorans-title {
		text-align: left;
	}


.restorans-cards {
	margin-top: 28px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.restorans-card {
	
	width: 32.2%;
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-bottom: 20px;
	transition: all 0.8s ease 0s;	
}
.restorans-card:hover {
	transform: scale(1.1);
	box-shadow: 6px 6px 10px #5BC1CF;

	transition: all .6s;
}


	

.restorans-img {
	position: relative;
	width: 100%;

}
.restorans__card-title {
	padding: 9px 12px 0;
}
.restorans-info {
	right: 18px;
	top: 11px;
}
.restorans-info img{

	width: 25px;
	height: 25px;
}
.restorans-distance {
	right: 18px;
	top: 203px;
}
.restorans-card address {
	padding-left: 12px;
}
.restorans__card-icons {
	padding: 0 5px;
}
.restorans__card-like {
	margin: 0 0 0 8px;
}


.card-clouse {
	position: relative;
	z-index: 3; 
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.card-clouse::after {
	content: "Закрыто";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	max-width: 100%;	
	border-radius: 10px;
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.restorans__button {
	width: 343px;
	background-color: #31BCCC;
	margin: 42px auto 32px;
	border-radius: 30px;
	padding: 20px;
	text-align: center;
}
.restorans__button-text {
	font-size: 20px;
	font-weight: 700;
	color: #fff;	
}

.delivery-title__link {
	font-size: 18px;
	line-height: 25.92px;
	color: #000;
}
.delivery p {
	font-size: 16px;
	line-height: 23.04px;
	letter-spacing: 0.1px;
	word-spacing: 0.1px;
	color: #000;
	padding-right: 14px;
}
#more {display: none;} /*скрытие текста*/

.etc-link,
.letter {
	color: #5bc1cf;
}
.etc-link {
	background-color: #fff;
}



.footer-container {
	padding-left: 15px;
	padding-right: 15px;
	background: #232425;
	
	padding-bottom: 120px;
	margin-top: 36px;
	padding-top: 66px;

}
.footer {
	width: 98%;
	max-width: 1170px;
	margin: 0 auto;
	
}

.footer__logo img {
	width: 166.8px;
	height: 48px;
}
.footer-town__colomns {
	display: flex;
	justify-content: space-between;
	margin: 41px auto 0;
}


.footer-town__title {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 3px;
}
.footer-town {
	display: block;
	margin-top: 9px;
	font-size: 18px;
	font-weight: 700;
	color: #C5C5C4;	
}
.town-all::after {
	content: "";
	background: url('../images/icon/footer-next.svg') center / 7.19px 12.18px no-repeat;
}
.footer-address {
	text-decoration: underline;
}

.soc-icons {
	display: flex;
	margin-top: 7px;
}
.soc-icon.instagram {
	width: 25px;
	margin-right: 10px;
}
.soc-icon {
	width: 15px;
}
.w-992 {
	display: none;
}

.width-992 .Google_play {
	margin-top: 76px;
}
.banner-but,
,banner-buts {
	width: 144.07px;
	height: 47px;
	margin-top: -25px;
}
.App_Store {
	margin-top: 18px;
}

li:nth-child(n+6) {display:none;}
li.dropdown {display:block;}

.footer-town,
.dropdown {
	margin-top: 9px;
	font-size: 18px;
	font-weight: 700;
	color: #C5C5C4;	
}
.dropdown {
	font-style: italic;
	font-weight: 400;
}


.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1F1F1F;
	padding: 32px 0;
}
.copyright span {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto' 'Arial' sans-serif;
}


.popap {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
}
.popap:target {
	opacity: 1;
	visibility: visible;
}
.popap__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popap__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 20px;
}
.popap__content {
	background-color: #fff;
	color: #000;
	max-width: 500px;
	padding: 30px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
	margin: 0 auto;
}
.popap:target .popap__content {
	opacity: 1;
	transform: translate(0px, 0px);
}
.popap__close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 10px;
	height: 10px;
	color: #5BC1CF;
	font-size: 20px;
	font-family: sans-serif;
}
.form-popap {
	margin: 0 auto;
}
.popap__adress {
	width: 90%;
	font-size: 12px;
	text-align: center;
	margin: 0 auto 1em;
	position: relative;
}

.form-popap::after {
	content: "";
	position: absolute;	
	z-index: 10;
}

.form-popap::after  {
	width: 277px;
	height: 1.5px;
	background-color: #5BC1CF;
	top: 47px;
	left: 43px;
}
.popap__map {
	width: 90%;
	height: 80%;
}

.popap__adress::-webkit-input-placeholder {color:#000; font-size: 12px; text-align: center; line-height: 15.84px;}
.popap__adress::-moz-placeholder          {color:#000; font-size: 12px; text-align: center; line-height: 15.84px;}/* Firefox 19+ */
.popap__adress:-moz-placeholder           {color:#000; font-size: 12px; text-align: center; line-height: 15.84px;}/* Firefox 18- */
.popap__adresss:-ms-input-placeholder      {color:#000; font-size: 12px; text-align: center; line-height: 15.84px;}

.popap__button {
	width: 156px;
	height: 25px;
	margin: 14px auto 19px;
	padding: 6px 40px;
	background-color: #5BC1CF;
	border-radius: 30px;
	text-align: center;
	font-size: 10px;
	line-height: 13.2px;
	cursor: pointer;
}
.popap__button:hover,
.restorans__button:hover {
	box-shadow: 1px 1px 5px #000;
}
.Google_play-image:hover,
.App_Store-image:hover {
	box-shadow: 1px 1px 5px #fff;
	border-radius: 30px;
}
.popap__button:active,
.restorans__button:active {
	position: relative;
	top: 2px;
	box-shadow: 1px 1px 5px #000;
}
.Google_play-image:active,
.App_Store-image:active {
	position: relative;
	top: 2px;
	box-shadow: 1px 1px 5px #fff;
	border-radius: 30px;
}
.restorans__button-mb{
	display: none
}


@media (max-width: 1024px) {
	.wrap {
		width: 100%;
		display: block;
	}
	.header,
	.footer,
	.main {
		max-width: 1024px;
		margin: 0 auto;	
	}
	.header {
		max-width: 1024px;
		position: relative;	
		min-height: 65.41px;
		top: 0;
		left: 0;
		z-index: 10;	
		transition: all 0.3s ease 0s;
	}
	.item-basket,
	.num-basket {
		display: none;
	}
	.w-992 {
		display: block;
	}
	.colomn-last {
		display: none;
	}
	.restorans-card {
		width: 48%;
	}
	.restorans-container {
		max-width: 636px;
	}	
}

@media (max-width: 992px) {
	.slider__item {
		max-width: 636px;
	}
}

@media (max-width: 992px) {
	body.lock {
		overflow: hidden;
	}
	.wraper {
		width: 100%;
	
	}
	.wrap {
		display: block;
		max-width: 768px;
		margin: 0 auto;
		position: relative;
	}
	.content {
	    position: relative;
	    top: 20px;
	}
	.header {
		max-width: 768px;
		position: relative;	
		min-height: 65.41px;
		top: -20px;
		left: 0;
		z-index: 5;	
		transition: all 0.3s ease 0s;
	}
	.header-grid {
		display: none;
	}
	.head__search-adress.second-adress {
		display: block;
	}

	.header-scroll {
		display: none;
		max-width: 768px;
		background-color: #fff;
		height: 65.41px; 
		box-shadow: 5.19089px 5.19089px 31.1453px rgba(112, 112, 112, 0.1);

	}
	.header.scrolled {
		display: none;
	}
	.header-scroll .header-flex {
		display: flex;
		justify-content: space-around;
		padding: 30px 0;
	}
	.header-scroll.scrolled {
		display: block;
		top: 0;
		left: 0;
		right:0;
		margin:0 auto;
		position: fixed;
		width: 100%;
		z-index: 5;
		transition: all 0.3s ease 0s;
	}

	.scrolled.spacer {
	    height: 100px;
	    position: relative;
	    top: 40px;
	}
	.header::before {
		content: "";	
		position: absolute;
		width: 100%;
		height: 63px;
		top: 0;
		left: 0;
		background-color: #fff;
		box-shadow: 5px 5px 30px rgba(112, 112, 112, 0.1);
		z-index: 4;
	}

	.header-logo {
		width: 67px;
		height: 19px;
		position: relative;	
		z-index: 	15;
		transition: all 0.3s ease 0s;
	}
	.item-user {
		width: 24.92px;
		height: 24.92px;
		position: relative;	
		z-index: 	4;
		transition: all 0.3s ease 0s;
	}
	.item-user:hover,
	.header-logo:hover,
	.menu-burger:hover {
		transform: scale(1.5);
		transition: all 0.3s ease 0s;

	}
	.header-flex {
		position: relative;
		display: flex;
		justify-content: space-around;
		align-items: center;
		z-index: 5;
	}
	.header-menu.active {
		z-index: 5;
	}
	.header__list {
		display: flex;
	}
	.header__link {
		font-size: 18px;
		font-weight: 500;
		line-height: 23.76px;
		color: #5BC1CF;
	}

	.menu-burger {
		display: block;
		position: relative;
		width: 19px;
		height: 16px;
		transition: all 0.3s ease 0s;
		z-index: 30;
	}

	.menu-burger::before,
	.menu-burger::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #5BC1CF;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.menu-burger::before {
		top: 0px;
	}
	.menu-burger::after {
		bottom: 0px;
	}
	.menu-burger span {
		position: absolute;
		left: 0;
		background-color: #5BC1CF;
		width: 100%;
		height: 2px;
		top: 7px;
		transition: all 0.3s ease 0s;
	}
	.menu-burger.active::before {
		content: "";
		transform: rotate(45deg);
		top: 6px;
		
	}
	.menu-burger.active::after {
		content: "";
		transform: rotate(-45deg);
		bottom: 8px;
	}
	.menu-burger.active span {
		transform: scale(0);
	}
	.header__menu {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transition: all 0.3s ease 0s;
		z-index: 5;
	}


	.head__search-adress {	
		max-width: 700px;
		min-width: 200px;
		margin: 0 0 0 0;
		border-radius: 30px;
		background-color: #5BC1CF;		
		transition: all 0.8s ease 0s;
	}
	.head__search-adress,
	.header__clock {
		position: relative;
		z-index: 4;
	}

	.search-adress::-webkit-input-placeholder {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}
	.search-adress::-moz-placeholder          {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}/* Firefox 19+ */
	.search-adress:-moz-placeholder           {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}/* Firefox 18- */
	.search-adress:-ms-input-placeholder      {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}

	.search-adress {
		max-width: 90%;	
		height: 23px;
		padding: 4px 10px 4px 49px;
		background: url('../images/icon/point-white.svg') 33px center / 14px 17.11px no-repeat;
	}
	.head__search-adress:hover {
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); 
		position: relative;
		top: 2px;
		transform: scale(1.1);
		transition: transform .4s;
	}

	.head__search-adress.second-adress {
		max-width: 200px;
		min-width: 200px;
		margin: -20px 0 20px 8px;
		border-radius: 30px;
		background-color: #5BC1CF;		
		transition: all 0.8s ease 0s;
	}
	.head__search-adress.second-adress:hover {
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); 
		position: relative;
		top: 2px;
	}
	.header__clock {
		margin: 0;
	}
	
	.category-container { 
		max-width: 768px;
		margin: 30px 0;
	}
	.category._sliderSmall {
		width: 100%;
		margin: 0 auto;
	}
	.category .slick-arrow {
		position: absolute;
		top: -10%; 
		z-index: 10;
		font-size: 0;
	}
	.category .slick-arrow::before {
		content: "";
		position: absolute;
		top: -5px;
		left: 0;
		width: 58px;
		height: 58px;	
		border-radius: 50%;
		padding: 8px 12px;
		z-index: 8;
	}

	.category .slick-arrow.slick-prev {
		left: 0;	
	}
	.category .slick-arrow.slick-prev::before {
		background: rgba(227, 227, 227, 0.5) url('../images/icon/arrow-black-prev.svg') center / 16px 24px no-repeat;
	}
	.category .slick-arrow.slick-next {
		right: 57px;
	}
	.category .slick-arrow.slick-next::before {
		background: rgba(227, 227, 227, 0.5) url('../images/icon/arrow-black-next.svg') center / 16px 24px no-repeat;
	}
	.header__menu {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 82px 0 0 0;
	}
	.header__menu.active {
		top: 0;

	}
	
	.header-logo {
		width: 67px;
		height: 19px;
	}
	.header-logo img {
		margin: 0;
		max-width: 100%;
	}
	.logo-flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}	
		
	.header__list {
		display: block;
		margin: 30px;
	}
	.header__list li {
		margin: 0 0 10px 0;
	}
	.main {
		max-width: 768px;	
		padding: 0;
		margin: 0 auto;
		display: flex;
		flex-direction: column;  
	}

	.banner {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.banner__category {
	   padding: 9px 11px 0;
	}
	.banner__category a {	
		font-size: 10px;	
	}
	.category__boosik {
		margin-right: 4px;
	}
	.category__boosik::after {
		top: 8px;
	   left: 19px;
		width: 1px;
		height: 1px;
		
	}
	.main-title {	
		width: 158px;
		font-size: 18px;
		font-weight: 700;
		margin: 11px 100px 36px 9px;
		line-height: 20.16px; 
	}
	.search-container{	
		margin: 15px auto 0;
	}
	.search {	
		padding: 9px 35px 9px;
		background: url('../images/icon/search-glass.svg') 11px 8px / 17px 17px no-repeat;
		border-radius: 30px;
		border: 1px solid rgba(197,197,196,0.5);
	}
	.search::-webkit-input-placeholder {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}
	.search::-moz-placeholder          {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}/* Firefox 19+ */
	.search:-moz-placeholder           {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}/* Firefox 18- */
	.search:-ms-input-placeholder      {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}


	.slider-container,
	.happy-clock {
		width: 100%;
		height: 270px;
		margin: 0 auto;
		padding: 0;
		background-color: #fff;
	}


	.slider {
		width: 100%;
		padding: 0;
		margin-top: 8px;		
	}
	.slider__title {
		font-size: 18px;
		padding-top: 0;
	}
	.slider .slick-arrow, .category .slick-arrow,
	.slider .slick-arrow::before, .category .slick-arrow::before {
		display: none;
	}
	.slider__item {
		max-width: 242px;
	}
	.slider-card {
		width: 242px;
		position: relative;
	}

	.slider-card img {	
		max-width: 100%;	
	}
	.card-title {
		position: relative;
	}
	.restorans__card-title::after {
		content: "10 км";
		position: absolute;
	    top: 9px;
	    right: 16px;
	    z-index: 2;
	    color: #5BC1CF;
	    font-weight: 400;
	    font-size: 18px;
	    display: none;
	}
	.slider__card-title::after {
		content: "10 км";
		position: absolute;
	    top: 1px;
	    right: 16px;
	    z-index: 2;
	    color: #5BC1CF;
	    font-weight: 400;
	    font-size: 18px;
	}
	.restorans-distance{
		top: 194px;
	}
	.slider-card .distance{
		top: 130px;
	}

	.category-container {
		margin-top: 15px;
	}
	.category {
		width: 320px;
	  	margin-top: 0;
	   padding: 0;	
	}

	.category .slider-cathegory__item {	
		padding: 13px 13px;	
		font-size: 12.19px;
		margin-left: 8px; 
	}
	.slider-cathegory__item:hover {
		background-color: #5BC1CF;
		transition: all 0.3s ease 0s;
	}
	.category-scroll {
		margin: -22px 0 10px 0;
		padding: 0 0 10px 0;
	}

	.restorans-container {
		width: 100%;
		margin: 0 auto;
	} 
	.restorans-title {
		width: 80%;
		margin: 0 12px 20px 12px;
		font-size: 18px;
		text-align: left;
	}
	.restorans-cards {		
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 3px;
	   padding: 1px;
	}
	.restorans-card {
		margin-bottom: 20px;	
		align-self: flex-start;
	}

	.restorans__button {
		width: 100%;
		margin: 39px auto 0;
		padding: 15px;
	}
	.restorans__button-text {
		font-size: 16px;		
	}
	.delivery {
		margin: 26px auto 0;
		max-width: 768px;
		padding: 0 11px;
	}
	.delivery-title__link {
		font-size: 20px;
	}
	.delivery p {
		font-size: 18px;	
	}

	.etc-link,
	.letter {
		color: #5bc1cf;
	}
	.etc-link {
		background-color: #fff;
	}

	.footer-container {
		margin-top: 24px;
		padding-top: 13px;
		padding-bottom: 15px;
	}
	.footer {
		max-width: 300px;	
		margin: 0 auto;
		padding: 0 0 0 8px;
	}
	.footer__logo {
		margin-top: 20px;
		
	}
	.footer__logo img{
		width: 105px;
		height: 30px;
	}
	.footer-town__colomns {
		display: block;
		margin-top: 26px;
	}
	.footer-town__colomn { 
		padding-left: 88px;
		padding-bottom: 48px;
	}
	.footer-tit {
		margin-left: -88px;
	}
	.footer-town__colomn.colomn-last{
		display: flex;
		padding-left: 0;	
	}
	.footer-town__colomn:last-child {
		width: 295px;
		padding-bottom: 13px;
		margin-left: -6px;
	}


	li:nth-child(n+6) {display:none;}
	li.dropdown {display:block;}

	.footer-town,
	.dropdown {
		margin-top: 9px;
		font-size: 18px;
		font-weight: 700;
		color: #C5C5C4;	
	}
	.dropdown {
		font-style: italic;
		font-weight: 400;
	}
	.footer-butss {
		display: flex;
		justify-content: space-between;
		margin: 11px 0 18px 0;
	}
	.footer-butss.Google_play,
	.footer-butss.App_Store {
		margin: 0;
		padding: 0;
	}

	.footer-butss.Google_play img,
	.footer-butss.App_Store img {
		width: 144.07px;
		height: 47px;
	}
	.footer-butss.Google_play a,
	.footer-butss.App_Store a {
		width: 144.07px;
		height: 47px;
	}


	.copyright {
		padding: 24px 0;
	}

	.banner-but.width-992 .footer-town.Google_play.w-992,
	.footer-town.App_Store.w-992 {
		display: none;
	}
}


@media (max-width: 576px) {
	.restorans__button-mb{
	display: block
}
}
@media (max-width: 730px) {
	.restorans-container {
		max-width: 100%;
		margin: 0 auto;
	} 
	.restorans-cards {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 98%;
		margin: 0 auto;
	} 
	.restorans-card {
		width: 100%;

	} 	
}
